<section>
    <h3>About myself</h3>
    <div class="face-lockup">
        
        <div class="face-img"></div>
        
        <div class="icon-internet">{% include icons/internet.html %}</div>
        <div class="icon-list">{% include icons/list.html %}</div>
        <div class="icon-lock">{% include icons/lock.html %}</div>
        <div class="icon-television">{% include icons/television.html %}</div>
    </div>
    
    <div class="blurb">
        <p>I'm a <strong>software and web developer</strong> that enjoys coding all day, thinking and searching solutions to resolve problems. 
            I love challenges because that makes me learn a lot of new things</p>
        <p>I have 5 years of experience working with all kind of teams, they helped me to improve my skills and grow up as a human been </p>
    </div>
    <div class="skill-lockup">

        
    </div>
    
</section>
