<section>
    <h3>About myself</h3>
    <div class="face-lockup">
        
        <div class="face-img" style="background-image: url(/assets/img/{{site.avatar}});"></div>
        
        <div class="icon-internet">{% include icons/internet.html %}</div>
        <div class="icon-list">{% include icons/list.html %}</div>
        <div class="icon-lock">{% include icons/lock.html %}</div>
        <div class="icon-television">{% include icons/television.html %}</div>
    </div>
    
    <div class="blurb">
        {{site.blurb}}
    </div>
    
    <div class="skill-lockup">
        
        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icons skill-9">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icons skill-5">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icons skill-5">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Programming</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Visual design</div>
            <div class="skill-icons skill-4">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        
        <div class="skill-unit">
            <div class="skill-label">Back-end</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
    </div>
    
</section>
